<div class="container-fluid d-flex flex-column justify-content-center align-items-center h-100">
    <ng-container *ngIf="tasks; else recupero">
        <div *ngIf="tasks.length > 0; else noTask">
            <div *ngFor="let task of tasks, let i = index">
                <div *ngIf="!task.completed">
                    <h3>
                        {{task.title}} <button class="btn btn-sm ms-1" (click)="completeTask(task, i)">✅</button>
                    </h3>
                </div>
            </div>
        </div>
    </ng-container>
    <div>
        <input type="text" [(ngModel)]="titoloTask">
        <button type="button" class="btn btn-sm ms-1" (click)="addTask()">➕</button>
    </div>
    <ng-template #recupero>
        <h3>Recupero tasks...</h3>
    </ng-template>
    <ng-template #noTask>
        <h3>Ops, non ci sono tasks!</h3>
    </ng-template>



</div>
