<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>COMPONENT</h1>
        </div>
        <div class="col-6">
            <h4>Questo è il mio primo component</h4>
            <p>Come per tutte le prime volte... Hello, World!</p>
            <p>Questo è il titolo del componente: {{ title }}</p>
        </div>
    </div>
    <div class="row border-top border-primary">
        <div class="col-12">
            <app-secondo></app-secondo>
        </div>
    </div>
</div>
